table {
    border: 1px solid #ccc;
    width: 100%;
    border-collapse: collapse;
}
tr {
    border: 1px solid #ccc;
}
td, th {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    font-size: 50px;
}
.tdcenteralign {
    text-align: center;
}
.maintitletext {
    font-size: 100px;
    color: black;
}
.secondarytitletext {
    font-size: 90px;
    color: #ccc;
}
.secondarytabletext {
    font-size: 35px;
    color: #797979;
}
#header {
    margin-top: -150px;
    position: fixed;
    width: 100%;
    height: 150px;
    background: #ffffff;
    border-bottom: 1px solid #ccc;
}
footer {
    width: 100%;
    position: fixed;
    height: 100px;
    bottom: 0px;
    background: #ffffff;
    border-top: 1px solid #ccc;
}
#footer {
    text-align: justify;
    background: #ffffff;
    height: auto;
    padding: 20px 80px;
    font-size: 50px;
}
#footer::after {
    content: '';
    display: inline-block;
    width: 100%;
}
body {
    margin: 0px;
}
#maindiv {
    margin-top: 150px;
    margin-bottom: 100px;
}
#button {
    display: none;
}
#title {
    text-align: center;
}
