<!DOCTYPE html>
<html>
<head>
    <title>Вылеты</title>
</head>
<body>
    @section Header{
        <div id="title">
            <span class="maintitletext">Вылеты  </span>
            <span class="secondarytitletext">(Departures)</span>
        </div>
        @using (Ajax.BeginForm("Arrivals", new AjaxOptions { UpdateTargetId = "maindiv" }))
        {
            <button id="button" type="submit" />
        }
    }
</body>
</html>