<!DOCTYPE html>
<html>
<head>
    <title>Вылеты</title>
</head>
<body>
    @section Header{
        @using (Ajax.BeginForm("Arrivals", new AjaxOptions { UpdateTargetId = "maindiv" }))
        {
            <span class="maintitletext">Вылеты  </span>
            <span class="secondarytitletext">(Departures)</span>
            <button id="button" type="submit" />
            }
        }
</body>
</html>