table {
    border: 1px solid #ccc; /* граница всей таблицы */
    width: 100%;
    border-collapse: collapse;
}

tr {
    border: 1px solid #ccc; /* границы между строками */
}

td, th {
    border: 1px solid #ccc; /* границы между столбцами */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 40px;
}
.tdcenteralign{
    text-align: center;
}
.maintitletext{
    font-size: 100px;
    color: black;
}
.secondarytitletext{
    font-size: 90px;
    color: #ccc;
}
.secondarytabletext {
    font-size: 35px;
    color: #797979;
}
#header {
    margin-top: -150px;
    padding-left: 50px;
    width: 100%;
    height: 150px;
    position: fixed;
    background: #e6e6e6;
}
body{
    margin: 0px;
}
#maindiv {
    margin-top: 150px;
}